@(currentPage: Page[(Option[Country],Option[ReportRunwaysByCountry])], currentOrderBy: Int)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._

@import b3.vertical.fieldConstructor

@****************************************
* Helper generating navigation links    *
****************************************@

@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.SearchController.listRunwayTypesByCountry(newPage, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy))
}


@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
<a href="@link(0, Some(orderBy))">@title</a>
</th>
<style>
       div.pagination {
	background-color:white;
	color:#48b9ef;
	padding:10px 0 10px 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
}

div.pagination a {
background-color:#ff4d4d;
	color:white;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:2px solid #ff4d4d;
}

div.pagination a:hover, div.pagination a:active {
	border:2px solid #ff4d4d;
	color:##ff4d4d;
}

div.pagination span.current {
	padding:2px 5px;
	border:2px solid #ff4d4d;
	color:#fff;
	font-weight:bold;
	background-color:#ff4d4d;
}
div.pagination span.disabled {
	display:none;
}
#pagination ul {
    position: absolute;
}

#pagination ul .current a {
    color: white;
}

</style>
}

<div class="container">
@main {
<h1>@Messages("Runway Types by Country", currentPage.total)</h1>

@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}

@Option(currentPage.items).filterNot(_.isEmpty).map { runwayTypes =>

<table class="table striped table-hover">
    <thead>
    <tr>
        @header(1, "Country Name")
        @header(2, "Runway Types")
    </tr>
    </thead>
    <tbody>

    @runwayTypes.map {
    case (country,runway) => {
    <tr>
        <td>@runway.map(_.cname)</td>
        <td>@runway.map(_.rwtypes)</td>
    </tr>
    }
    }
    </tbody>
</table>
    <div id="pagination" class="pagination">
        <ul class="pagination pagination-lg">
            @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Previous</a>
            </li>
            }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
            }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + runwayTypes.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Next &rarr;</a>
            </li>
            }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
            }
        </ul>
    </div>

    }.getOrElse {

    <div class="well">
        <em>Nothing to display</em>
    </div>

    }
</div>
}

